# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Databases
*.db

# Downloads
downloads/
*.part

# Build / package
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp / generated
project_summary.txt
